/**/
/**/
/*
----Realizzato da Emanuele C.----
*/
/**/
/**/
:root {
    --body-bg: hsl(205, 76%, 90%);
    --footer-bg: hsl(211, 71%, 7%);
    --footer-color: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
}
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/*...........................................................*/
main {
    max-height: 100vh;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}
#locandina {
    height: 100%;
    max-height: 100vh;
    width: auto;
}
/*...........................................................*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    padding: 20px 30px;
    text-align: center;
    font-size: 1.2rem;
}